@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  background: black;
  text-align: center;
  padding: 1rem 0;
}
.container .row {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  align-items: center;
}
.container .nav {
  padding-right: 5rem;
}
.container .nav .nav___list {
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: right;
  padding: 1 rem;
}
.container .nav .nav___list .nav__link {
  color: white;
  text-decoration: none;
  padding-right: 1rem;
  text-align: center;
  margin: 0 10px 0 0;
  text-transform: uppercase;
}
.container .hamburguer__menu {
  display: none;
}
.container .hamburguer__menu #myLinks {
  display: none;
}
.container .hamburguer__menu .icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.container .hamburguer__menu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.conteiner__home {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
  align-items: center;
  /*SECCION IMAGEN PUENTE*/
  /*SECCIONES CARDS SOMOS AUKEL/INSPIRARTE*/
  /*SECCION PALABRA IDEAR*/
  /*SECCION PROYECTOS*/
  /*SECCION 3 TARJETAS DE PROYECTOS*/
}
.conteiner__home .imagen__puente {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 580px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -6px black;
}
.conteiner__home .intro__section {
  display: flex;
  max-width: 90%;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}
.conteiner__home .intro__section .info__section {
  width: 40%;
}
.conteiner__home .intro__section .info__section .boton__inspirate--index {
  border: 2px solid rgb(0, 0, 0);
  background: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 25px;
  text-transform: uppercase;
  padding: 20px 40px;
  margin: 20px 0px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  /* border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 3px;
  cursor: pointer;
  background-color: black;
  border-radius: 5px; */
}
.conteiner__home .intro__section .info__section .boton__inspirate--index::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}
.conteiner__home .intro__section .info__section .boton__inspirate--index:hover::before {
  height: 190%;
}
.conteiner__home .intro__section .info__section .boton__inspirate--index:hover {
  color: white;
}
.conteiner__home .intro__section .imagen__section {
  width: 50%;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -6px black;
}
.conteiner__home .intro__section.inspirarte {
  flex-direction: row-reverse;
}
.conteiner__home .intro__section--idear {
  box-sizing: border-box;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.conteiner__home .intro__section--idear .idear__texto {
  width: 100%;
  color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 450px;
  letter-spacing: 1rem;
  font-weight: bold;
  background-image: url(../imagenes/atardecer.jpg);
  background-size: cover;
  background-position-y: center;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Anton", sans-serif;
  -webkit-text-fill-color: transparent;
}
.conteiner__home .div__proyectos {
  background-color: black;
  width: 100%;
  height: 100px;
}
.conteiner__home .div__proyectos .proyectos__texto {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.conteiner__home .intro__section.tarjetas {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}
.conteiner__home .intro__section.tarjetas .info__section--tarjetas {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin: 20px;
  border: 3px solid #fff;
}
.conteiner__home .intro__section.tarjetas .info__section--tarjetas .info__section--img {
  width: 100%;
  height: 100%;
}
.conteiner__home .intro__section.tarjetas .info__section--tarjetas:hover .capa {
  transform: scale(1);
}
.conteiner__home .intro__section.tarjetas .info__section--tarjetas .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: scale(0);
  transition: 0.3s ease;
}

footer {
  background: black;
  text-align: center;
  padding: 5rem 0 1rem;
  margin-top: 3rem;
}
footer .footer__iconos {
  display: inline-flex;
}
footer .footer__iconos .footer__iconos--icon {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
footer .footer__iconos .footer__iconos--icon:hover .footer__span i {
  color: #fff;
}
footer .footer__iconos .footer__iconos--icon:hover .icon__red {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
footer .footer__iconos .footer__iconos--icon .footer__span {
  position: relative;
  height: 60px;
  width: 60px;
  display: block;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
footer .footer__iconos .footer__iconos--icon .footer__span i {
  font-size: 25px;
  line-height: 60px;
}
footer .footer__iconos .footer__iconos--icon .icon__red {
  position: absolute;
  top: 0px;
  background: #fff;
  color: #fff;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
footer .footer__iconos .footer__iconos--icon .icon__red::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
footer .footer__iconos .twitter:hover .footer__span,
footer .footer__iconos .twitter:hover .icon__red,
footer .footer__iconos .twitter:hover .icon__red::before {
  background: #46c1f6;
}
footer .footer__iconos .instagram:hover .footer__span,
footer .footer__iconos .instagram:hover .icon__red,
footer .footer__iconos .instagram:hover .icon__red::before {
  background: #e1306c;
}
footer .footer__iconos .youtube:hover .footer__span,
footer .footer__iconos .youtube:hover .icon__red,
footer .footer__iconos .youtube:hover .icon__red::before {
  background: #de463b;
}
footer .footer__iconos .facebook:hover .footer__span,
footer .footer__iconos .facebook:hover .icon__red,
footer .footer__iconos .facebook:hover .icon__red::before {
  background: #3b5999;
}
footer .buscanos__redes {
  color: white;
  padding: 1rem;
  font-weight: lighter;
}
footer .derechos__reservados {
  color: white;
  font-weight: lighter;
}
footer .derechos__reservados .ig__Natalia {
  color: white;
  text-decoration: none;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.h1__subtitulos {
  font-weight: 200;
  letter-spacing: 2px;
  margin: 2rem 0 1rem 4rem;
}

.equipo__cards__container {
  margin-bottom: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
}
.equipo__cards__container .equipo__card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex: 0 0 auto;
  width: 25%;
}
.equipo__cards__container .equipo__card .equipo__card__individual {
  margin: 0.5rem;
  flex-shrink: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 1rem;
}
.equipo__cards__container .equipo__card .equipo__card__individual .equipo__card__texto {
  margin: 1rem 0 1rem 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.equipo__cards__container .equipo__card .equipo__card__individual .equipo__card__texto .equipo__card__nombre {
  font-size: large;
}
.equipo__cards__container .equipo__card .equipo__card__individual .boton__card {
  border: none;
  color: white;
  padding: 11px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 3px;
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
}

.container__inspiracion .container__galeria {
  display: flex;
  justify-content: center;
  padding: 0 5rem;
  align-items: center;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  flex-direction: row;
  transition: all 500ms ease;
}
.container__inspiracion .container__galeria .container__galeria__paisajes {
  gap: 0;
  vertical-align: middle;
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  flex-direction: column;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 500ms ease;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
}
.container__inspiracion .container__galeria .container__galeria__paisajes:hover {
  transform: scale(1.2);
}

.contacto__body {
  background-image: url(../imagenes/puente.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
.contacto__body .contacto__form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  backdrop-filter: blur(5px);
}
.contacto__body .contacto__form .contacto__h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
.contacto__body .contacto__form .contacto__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
.contacto__body .contacto__form .contacto__textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  width: 100%;
}
.contacto__body .contacto__form #boton {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 1rem;
  width: 100%;
}
.contacto__body .contacto__form #boton:hover {
  cursor: pointer;
}
.contacto__body .btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.contacto__body .btn-wsp .btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

.nosotros__video {
  justify-content: center;
  align-items: center;
  display: flex;
}

.nosotros__intro__section {
  display: flex;
  max-width: 90%;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}
.nosotros__intro__section .nosotros__info__section {
  width: 40%;
}
.nosotros__intro__section .nosotros__info__section .boton__inspirate {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 3px;
  cursor: pointer;
  background-color: black;
  border-radius: 5px;
}
.nosotros__intro__section .nosotros__imagen__section {
  width: 50%;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -6px black;
}

.nosotros__intro__section.inspirarte {
  flex-direction: row-reverse;
}

.servicios__escritura {
  height: 100vh;
  display: grid;
  place-items: center;
}
.servicios__escritura .servicios__escritura--tipeo {
  width: 34ch;
  animation: typing 2s steps(34), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media screen and (max-width: 968px) {
  /*SECCION HOME INDEX*/
  .conteiner__home .imagen__puente {
    height: auto;
  }
  .conteiner__home .intro__section {
    flex-direction: column-reverse;
  }
  .conteiner__home .intro__section .info__section {
    width: 100%;
  }
  .conteiner__home .intro__section .imagen__section {
    width: 100%;
  }
  .conteiner__home .intro__section.inspirarte {
    flex-direction: column-reverse;
  }
  /*SECCION EQUIPO*/
  .equipo__cards__container {
    padding: 0;
  }
  .equipo__cards__container .equipo__card {
    box-sizing: border-box;
    width: 100%;
  }
  .container {
    display: block;
  }
  .container .row {
    display: block;
  }
  .container .row .nav {
    display: none;
  }
  .container .row .hamburguer__menu {
    display: block;
  }
  /*SECCION INSPIRACION*/
  .container__inspiracion .container__galeria .container__galeria__paisajes {
    width: 100%;
  }
  /*SECCION SERVICIOS*/
  .servicios__imagenes {
    width: 100%;
    height: auto;
  }
  /*SECCION NOSOTROS*/
  .nosotros__imagen__puente {
    height: auto;
  }
  .nosotros__intro__section {
    flex-direction: column-reverse;
  }
  .nosotros__intro__section .nosotros__info__section {
    width: 100%;
  }
  .nosotros__intro__section .nosotros__imagen__section {
    width: 100%;
  }
  .nosotros__intro__section.inspirarte {
    flex-direction: column-reverse;
  }
  /*SECCION CONTACTO*/
  .contacto__body .contacto__form {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
