.h1__subtitulos {
  font-weight: 200;
  letter-spacing: 2px;
  margin: 2rem 0 1rem 4rem;
}

/* COMIENZAN LAS CARDS */

.equipo__cards--container {
  margin-bottom: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;

  .equipo__card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex: 0 0 auto;
    width: 25%;

    .equipo__card--individual {
      margin: 0.5rem;
      flex-shrink: 1;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      padding: 1rem;

      .equipo__card--texto {
        margin: 1rem 0 1rem 0;
        padding: 0;
        font-family: "Poppins", sans-serif;

        .equipo__card--nombre {
          font-size: large;
        }
      }

      .boton__card {
        border: none;
        color: white;
        padding: 11px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px 3px;
        cursor: pointer;
        background-color: black;
        border-radius: 5px;
      }
    }
  }
}

/* COMIENZAN LA ANIMACION TEXTO */

.equipo__animacion--txt {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;

  .wrapper {
    display: inline-flex;

    .static-txt {
      color: #fff;
      font-size: 60px;
      font-weight: 400;
    }

    .dynamic-txts {
      margin-left: 15px;
      height: 90px;
      line-height: 90px;
      overflow: hidden;

      .equipo__li {
        color: #f5fc69;
        list-style: none;
        font-size: 60px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 7s steps(4) infinite;

        @keyframes slide {
          100% {
            top: -360px;
          }
        }

        .equipo__span {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            background: #000;
            width: 100%;
            border-left: 4px solid #f5fc69;
            animation: typing1 2.5s steps(10) infinite;

            @keyframes typing1 {
              100% {
                left: 100%;
                margin: 0 -35px 0 35px;
              }
            }
          }
        }
      }
    }
  }
}
