footer {
  background: map-get($fondos, fondo-1);
  text-align: center;
  padding: 5rem 0 1rem;
  margin-top: 3rem;

  .footer__iconos {
    display: inline-flex;

    .footer__iconos--icon {
      margin: 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      cursor: pointer;
      transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:hover .footer__span i {
        color: map-get($color-texto, text-1);
      }

      &:hover .icon__red {
        top: -70px;
        opacity: 1;
        pointer-events: auto;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
      }

      .footer__span {
        position: relative;
        height: 60px;
        width: 60px;
        display: block;
        background: map-get($fondos, fondo-2);
        border-radius: 50%;
        text-align: center;
        z-index: 2;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        i {
          font-size: 25px;
          line-height: 60px;
        }
      }
      .icon__red {
        position: absolute;
        top: 0px;
        background: map-get($fondos, fondo-2);
        color: map-get($color-texto, text-1);
        font-size: 20px;
        padding: 10px 18px;
        border-radius: 25px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &::before {
          position: absolute;
          content: "";
          height: 15px;
          width: 15px;
          background: map-get($fondos, text-2);
          bottom: -8px;
          left: 50%;
          transform: translate(-50%) rotate(45deg);
          transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      }
    }
    & .twitter:hover .footer__span,
    .twitter:hover .icon__red,
    .twitter:hover .icon__red::before {
      background: #46c1f6;
    }

    & .instagram:hover .footer__span,
    .instagram:hover .icon__red,
    .instagram:hover .icon__red::before {
      background: #e1306c;
    }

    & .youtube:hover .footer__span,
    .youtube:hover .icon__red,
    .youtube:hover .icon__red::before {
      background: #de463b;
    }

    & .facebook:hover .footer__span,
    .facebook:hover .icon__red,
    .facebook:hover .icon__red::before {
      background: #3b5999;
    }
  }

  .buscanos__redes {
    color: map-get($color-texto, text-1);
    padding: 1rem;
    font-weight: lighter;
  }

  .derechos__reservados {
    color: map-get($color-texto, text-1);
    font-weight: lighter;
    .ig__Natalia {
      color: map-get($color-texto, text-2);
      text-decoration: none;
    }
  }
}
