.conteiner__home {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  align-items: center;

  /*SECCION IMAGEN PUENTE*/

  section {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    display: flex;
  }

  .herobanner__section {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 40px;

    .imagen__puente {
      margin-bottom: 2rem;
      height: 580px;
      width: 100%;
    }
  }

  /*SECCIONES CARDS SOMOS AUKEL/INSPIRARTE*/

  .intro__section {
    display: flex;
    max-width: 70%;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-wrap: wrap;

    .info__section {
      width: 45%;

      .boton__inspirate--index {
        border: 2px solid map-get($fondos, fondo-1);
        background: none;
        color: map-get($fondos, fondo-1);
        cursor: pointer;
        font-size: 15px;
        text-transform: uppercase;
        padding: 15px 20px;
        margin: 20px 0px;
        position: relative;
        overflow: hidden;
        transition: all 0.5s;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 0%;
          width: 100%;
          background-color: map-get($fondos, fondo-1);
          z-index: -1;
          border-radius: 0 0 50% 50%;
          transition: all 0.5s;
        }

        &:hover::before {
          height: 190%;
        }

        &:hover {
          color: map-get($fondos, fondo-2);
        }
      }
    }

    .imagen__section {
      width: 45%;
      margin-bottom: 2rem;
      border-radius: 5px;
      box-shadow: 0px 10px 10px -6px map-get($fondos, fondo-1);
    }
  }

  .intro__section.inspirarte {
    flex-direction: row-reverse;
  }

  /*SECCION PALABRA IDEAR*/

  .intro__section--idear {
    box-sizing: border-box;
    background-color: map-get($fondos, fondo-2);
    display: flex;
    align-items: center;
    justify-content: center;

    .idear__texto {
      width: 100%;
      color: transparent;
      text-align: center;
      text-transform: uppercase;
      font-size: 450px;
      letter-spacing: 1rem;
      font-weight: bold;
      background-image: url(../imagenes/atardecer.jpg);
      background-size: cover;
      background-position-y: center;
      background-clip: text;
      -webkit-background-clip: text;
      font-family: map-get($tipografias, tipografia-2);
      -webkit-text-fill-color: transparent;
      line-height: 410px;
    }
  }

  /*SECCION PROYECTOS*/

  /*SECCION 3 TARJETAS DE PROYECTOS*/

  .tarjetas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    .div__proyectos {
      background-color: map-get($fondos, fondo-1);
      width: 100%;
      height: 100px;

      .proyectos__texto {
        color: map-get($color-texto, text-1);
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        font-size: 30px;
        font-family: map-get($tipografias, tipografia-1);
      }
    }

    .tajetas__contenedor {
      max-width: 1100px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 50px;

      .info__section--tarjetas {
        width: 300px;
        height: 400px;
        position: relative;
        overflow: hidden;
        margin: 20px;
        border: 3px solid map-get($color-texto, text-1);

        .info__section--img {
          width: 100%;
          height: 100%;
        }

        &:hover .capa {
          transform: scale(1);
        }

        .capa {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          color: map-get($color-texto, text-1);
          transform: scale(0);
          transition: 0.3s ease;

          .capa__enlaces {
            text-decoration: none;
            color: map-get($color-texto, text-1);
          }
        }
      }
    }
  }
}
