@media screen and (max-width: 968px) {
  /*SECCION HOME INDEX*/
  .conteiner__home {
    .herobanner__section {
      .imagen__puente {
        height: auto;
      }
    }

    .intro__section {
      flex-direction: column-reverse;
      .info__section {
        width: 100%;
      }
      .imagen__section {
        width: 100%;
      }
    }
    .intro__section.inspirarte {
      flex-direction: column-reverse;
    }

    .intro__section--idear {
      .idear__texto {
        font-size: 110px;
        line-height: 120px;
      }
    }

    .tarjetas {
      .tajetas__contenedor {
        justify-content: center;
      }
    }
  }

  /*SECCION EQUIPO*/
  .equipo__cards--container {
    padding: 0;

    .equipo__card {
      box-sizing: border-box;
      width: 100%;
    }
  }

  .container {
    display: block;

    .row {
      display: block;
      .nav {
        display: none;
      }
      .hamburguer__menu {
        display: block;
      }
    }
  }

  /*SECCION INSPIRACION*/
  .container__inspiracion {
    .container__galeria {
      .container__galeria--paisajes {
        width: 100%;
      }
    }
  }

  /*SECCION SERVICIOS*/
  .servicios__imagenes {
    width: 100%;
    height: auto;
  }

  .servicios__escritura {
    .servicios__escritura--tipeo {
      font-size: 1.2rem;
      /*   width: 100%;
      text-align: center;
      white-space: normal; */
    }
  }

  /*SECCION NOSOTROS*/
  .nosotros__imagen--puente {
    height: auto;
  }

  .conteiner__nosotros {
    .lines__effects {
      font-size: 25px;
    }

    .lines__effects::after,
    .lines__effects::before {
      content: "";
      width: 30px;
      height: 2px;
      top: 4.6em;
    }

    .lines__effects::before {
      left: 16px;
    }

    .lines__effects::after {
      right: 16px;
    }

    .nosotros__intro--section {
      flex-direction: column-reverse;
      .nosotros__info--section {
        width: 100%;
      }
      .nosotros__imagen--section {
        width: 100%;
      }
    }
    .nosotros__intro--section.inspirarte {
      flex-direction: column-reverse;
    }
  }

  /*SECCION CONTACTO*/
  .contacto__body {
    .contacto__form {
      width: 90%;
    }
  }

  /*FOOTER*/

  footer {
    .footer__iconos {
      .footer__iconos--icon {
        margin: 0 10px;
      }
    }

    .derechos__reservados {
      max-width: 76%;
      margin: auto;
    }
  }
}
