.servicios__escritura {
  height: 100vh;
  display: grid;
  place-items: center;

  .servicios__escritura--tipeo {
    width: 34ch;
    animation: typing 2s steps(34), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: map-get($tipografias, tipografia-3);
    font-size: 3em;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

.section__tarjetas {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  .div__proyectos {
    background-color: black;
    width: 100%;
    height: 100px;

    .proyectos__texto {
      color: #fff;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      font-size: 30px;
      font-family: "Poppins", sans-serif;
    }
  }

  .tajetas__contenedor {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;

    .info__section--tarjetas {
      width: 300px;
      height: 400px;
      position: relative;
      overflow: hidden;
      margin: 20px;
      border: 3px solid #fff;

      .info__section--img {
        width: 100%;
        height: 100%;
      }

      &:hover .capa {
        transform: scale(1);
      }

      .capa {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        transform: scale(0);
        transition: 0.3s ease;

        .capa__enlaces {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
